<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avaantony.dimitsattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/atmalogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/atmalogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.avaantony.dimitsattendance.ui.verification.UsersVerification"
            android:exported="true" />
        <activity
            android:name="com.avaantony.dimitsattendance.InsertGradeDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.avaantony.dimitsattendance.ui.gradeDetail.GradeDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.avaantony.dimitsattendance.ui.grade.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.avaantony.dimitsattendance.Insert_Grade_Activity"
            android:exported="true" />
        <activity
            android:name="com.avaantony.dimitsattendance.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.avaantony.dimitsattendance.AdminActivity"
            android:exported="true" />
        <activity
            android:name="com.avaantony.dimitsattendance.ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.avaantony.dimitsattendance.StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.avaantony.dimitsattendance.StudentProfile"
            android:exported="true"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.avaantony.dimitsattendance.ui.reportDetail.Reports_Detail_Activity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.avaantony.dimitsattendance.Reports_Activity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.avaantony.dimitsattendance.ClassDetail_Activity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.avaantony.dimitsattendance.Insert_class_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.avaantony.dimitsattendance.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>