<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staugustine.dimitsattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/atmalogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/atmalogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.verification.UsersVerification"
            android:exported="true" />
        <activity
            android:name=".InsertGradeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.gradeDetail.GradeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.grade.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Insert_Grade_Activity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentProfile"
            android:exported="true"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.reportDetail.Reports_Detail_Activity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Reports_Activity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ClassDetail_Activity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".Insert_class_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>